<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="hero overlay">
            <div class="left-section">
                <a href="/" class="hero-head">Find your film</a>
                <a href="/watchlist" class="watchlist-page">My Watchlist</a>
            </div>
            <div class="user-section">
                <span class="username" id="username">Welcome, John</span>
                <button class="logout-btn" id="logout-btn">
                    <!-- <img src="" alt="logout"> -->
                    Logout
                </button>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Blade Runner" id="search-input">
            <button type="submit" id="search-btn">Search</button>
        </div>
        <div class="content">
            <div id="card-section" class="card-section">
                
            </div>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>